
#banner{
	background-image: url(https://images.pexels.com/photos/9726802/pexels-photo-9726802.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940&fbclid=IwAR3Nk1ZAh9o8JRkTkDoxIDe4Sg71JVhF-rY06ccre4jRUX6LcjrqJQCXQNg);
	background-position: center;
	background-size: cover;
}

.fab{

	font-size: 2rem;
	color: white;
}