.map-container-2{
overflow:hidden;
padding-bottom:10%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}



#footer{
	position:fixed;
   bottom:0;
   width:100%;
}